{% load static %}


<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Document</title>
</head>
<body>

  <a href="/" class="home-button">
    <img src="../../static/home.png" alt="Accueil" class="home-icon">
  </a>



    <h1>{{ probleme.nom }}</h1>

{% if solutions %}
  <h2>Solutions :</h2>
  <ul>
    {% for solution in solutions %}
      <li>{{ solution }}</li>
    {% endfor %}
  </ul>
{% else %}

  <div class="paragraphe">
    <p>Il n'y a pas encore de solution pour ce problème</p>
  </div>
  
  <div class="center">
    <div class="lien"><a href="../../ajouter_solutions/">Ajouter une solution</a></div>
  </div>
  

  {% endif %}




<div class="center">
  <div class="lien"><a href="../../voir_problemes/">Voir tous les problèmes</a></div>
</div>



</body>
</html>