{% load static %}


<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Home</title>
</head>
<body>
    <div id="explication">
      <p>Faites un tour pour découvrir le principe du sites</p>
    </div>

    
    <div class="center">
      <div class="lien"><a href="ajouter_problemes/">Ajouter un problème</a></div>
      <div class="lien"><a href="ajouter_solutions/">Ajouter une solution</a></div>
      <div class="lien"><a href="voir_problemes/">Voir tous les problèmes</a></div>

    </div>
    





</body>
</html>